extends layout

block content
    h1 Dashboard
    ul
        li
            a(href='/dashboard/storeconfig') Store Configuration
        li
            a(href='#') Checkout
        li
            a(href='#') Customers
        li
            a(href='#') Bookings
        li
            a(href='#') Finances