extends layout

block content
    h1 Store Configuration
        small.text-muted.ml-3 #{store.city}
    ul
        li: a(href='/dashboard/storeconfig/' + store.id + '/periods') Periods
        li: a(href='/dashboard/storeconfig/' + store.id + '/products') Products