.centered {
    float: none;
    margin: 0 auto;
}

input::-webkit-inner-spin-button { display: none; }
input::-webkit-clear-button { display: none; }

.period-slides-container {
    display: flex;
    justify-content: center;
}

.period-slides-container #btn_next {
    order: 1;
}
.period-slides-container #btn_create {
    order: 1;
}

.period-slides-container .period-slide {
    margin: auto 20px;
}

.period-slides-container span {
    cursor: pointer;
}


.timetable-container {
    width: 60%;
    margin: 0 auto;
}

#timetable {
    margin: auto auto;
    text-align: center;
    display: table;
    width: 100%;
}

#timetable thead, #timetable tbody {
    width: 100%;
}

#timetable thead {
    overflow-y: scroll;
    display: table;
    table-layout: fixed;
    width: calc(100% - 16px);
}

#timetable tbody {
    overflow: auto;
    display: block;
    max-height: 500px;
}

#timetable tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

#timetable .time-col {
    width: 10%;
}

#timetable .day-col {
    width: 13%;
}

#timetable td.highlighted {
    background-color: lightblue;
}